$orange: #FF931E;
$blue: #059BD8;
$pale-blue: #E4FAFF;
$dark-blue: #2C38BC;
$white: #FFFFFF;
$ivory: #FCFCFC;
$med-gray: #B3B3B3;
$dark-gray: #666666;
$med-black: #1E1F22;
$black: #000000;
$debug: #00F09E;